* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.wrapper {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.header {
  background-image: url("https://picsum.photos/id/122/3888/2592");
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
  height: 160px;
  border-bottom: 1px solid #ccc;
}
.header-content {
  background-color: white;
  padding: 10px;
  border-radius: 0 0 10px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header h1 {
  margin-bottom: 5px;
  font-size: 24px;
}
.header p {
  color: #848484;
}
.nav {
  text-align: center;
  margin: 10px 0;
}
.nav a {
  margin: 0 10px;
  color: rgb(84, 84, 84);
  font-weight: sans-serif;
  text-decoration: underline;
  text-underline-offset: 4px; /* Mengatur jarak garis bawah */
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  gap: 20px;
}
.content {
  background-color: white;
  padding: 10px;
  border: 1px solid #848484;
  flex: 2;
}
.content img {
  width: 340px;
  height: 220px;
  border: 3px solid #848484;
  margin-right: 10px;
  float: left;
}
.content p {
  text-align: justify;
  line-height: 1.1;
}
.sidebar {
  background-color: white;
  padding: 20px;
  border: 1px solid #848484;
  flex: 1;
}
.sidebar input,
.sidebar button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #848484;
  border-radius: 5px;
}
.sidebar button {
  background-color: #848484;
  color: white;
  border: none;
}
.footer {
  text-align: center;
  background-color: white;
  border-top: 0 solid #ccc;
  margin-top: 10px;
}